<!-- 5. Output the burgerName string, burgers boolean to the page for all the burgers. -->
<ul>
  {{#each burgers}}
    <li>
      <p>ID: {{burgerType}}</p>
      <p>burger_name: {{burgerName}}</p>
      <p>devoured: {{devoutness}}</p>
    </li>
  {{/each}}
</ul>

